/.cache/
/.venv/
/build/
/build-*/
/cmake-build-*/
/CMakeFiles/
/Testing/
/compile_commands.json
/CMakeCache.txt
/install_manifest.txt
/.qt/
*.o
*.obj
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe
*.moc
*.moc.cpp
*.user
*.swp
*.pyc
__pycache__/
